.link-curriculo{
    display: flex;
    width: max-content;
}
.btn-curriculo{
    background: none;
    color: var(--cor-p2);
    border: none;
    cursor: pointer;
}
.link-curriculo i img{
    padding: 5px 8px;
}
.link-curriculo:hover i img{
    transition: 0.4s ease-in-out;
    transform: translateY(4px);
}