.btn-curriculo{
    border: none;
    background: none;
    text-transform: uppercase;
    color: var(--cor-p2);
    font: 400 0.875rem/1.2 'Inter', sans-serif;
    cursor: pointer;
    width: max-content;
}