[data-menu="button"] {
  display: none;
  border: none;
  padding:10px;
  background:transparent;
  border-radius: 25%;
  cursor: pointer;
  color: var(--cor-s3);
}

@media (max-width: 800px) {
  [data-menu="button"] {
    display: block;
  }
  .nav-hamburguer {
    display: block;
    border-top: 2px solid;
    width: 15px;
  }
  .nav-hamburguer::after,
  .nav-hamburguer::before {
    content: "";
    display: block;
    height: 2px;
    width: 15px;
    background: currentColor;
    transition: 0.8s;
    position: relative;
    margin-top: 3px;
  }
  [data-menu="button"].ativo{
    background: var(--cor-s1);
    transition: 0.8s;
  }
  [data-menu="button"].ativo .nav-hamburguer {
    border-color: transparent;
  }
  [data-menu="button"].ativo .nav-hamburguer::before {
    transform: rotate(135deg);
  }
  [data-menu="button"].ativo .nav-hamburguer::after {
    transform: rotate(-135deg);
    top: -5px;
  }
}
