[data-menu="button"] {
  display: none;
  font: 400 0.875rem/1.2 "Inter", sans-serif;
  border: none;
  padding: 5px 10px;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--cor-p2);
}

@media (max-width: 800px) {
  [data-menu="button"] {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .nav-hamburguer {
    display: block;
    border-top: 2px solid;
    width: 15px;
  }
  .nav-hamburguer::after,
  .nav-hamburguer::before {
    content: "";
    display: block;
    height: 2px;
    width: 15px;
    background: currentColor;
    transition: 0.8s;
    position: relative;
    margin-top: 3px;
  }
  [data-menu="button"].ativo .nav-hamburguer {
    border-color: transparent;
  }
  [data-menu="button"].ativo .nav-hamburguer::before {
    transform: rotate(135deg);
  }
  [data-menu="button"].ativo .nav-hamburguer::after {
    transform: rotate(-135deg);
    top: -5px;
  }
}
