.bg-header{
  background: var(--cor-6);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}
.header-btns{
  display: flex;
  align-items: center;
  gap: 15px;
}