.header-bg {
  background: var(--bg-global);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  flex-wrap: wrap;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.header-menu a {
  padding: 5px 10px;
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
  font: 400 0.875rem/1.2 "Inter", sans-serif;
  color: var(--cor-p2);
}
.header-menu a:hover {
  transition: 0.7s;
  border-color: var(--cor-p2);
}
@media (max-width: 800px) {
  .header-menu {
    display: block;
    position: absolute;
    width:0px;
    top: 90px;
    right: 0px;
    height: 100vh;
    background: #f0ebe3;
    z-index: 100;
    visibility: hidden;
    overflow-x: hidden;
    transition:0.6s;
    padding: 40px 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 2px 8px 0 #0000009f;
  }
.header-menu a {
    font: 300 2.8rem/1.2 "Inter", sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
}
  [data-menu="suave"].ativo .header-menu {
    width: 100%;
    overflow-x: auto;
    visibility: visible;
  }
  [data-menu="suave"].ativo .header-menu a:hover {
    border-color: var(--cor-p2);
  }
}
