.bg-projetos{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.bg-item-1{
  background: url(../../img/img-projetos/bg-itens-projeto/bg-inkbill.png);
}
.bg-item-2{
  background: url(../../img/img-projetos/bg-itens-projeto/bg-oceanbank.png);
}
.bg-item-3{
  background: url(../../img/img-projetos/bg-itens-projeto/bg-pandasneakears.png);
}
.bg-item-4{
  background: url(../../img/img-projetos/bg-itens-projeto/bg-embreve.png);
}
.projetos {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 100px 15px;
}
.projetos-itens{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
.info-projeto{
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  color: var(--cor-1);
  min-width: 30ch;
  max-width: 65ch;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.span-projetos-item{
  background: var(--cor-6);
  font: 300 0.725rem/1.2 'Roboto Slab', sans-serif;
  padding: 6px 12px;
  border-radius: 5px;
  text-transform: uppercase;
  width: max-content;
}
.btns-projeto{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.titulo-projetos-item{
  font: 500 1.8rem/1 'Roboto Slab', sans-serif;
  text-transform: uppercase;
}
.btn-projetos-item{
  display: block;
  position: relative;
  cursor: pointer;
  padding: 6px 12px;
  font: 600 0.725rem/1.2 'Roboto Slab', sans-serif;
  text-transform: capitalize;
  border: 2px solid var(--cor-1);
  border-radius: 8px;
  background: transparent;
  color: var(--cor-1);
}
.btn-projetos-item::before{
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0%;
  height: 100%;
  background-color: var(--cor-1);
  background-size: cover;
  transition: .5s ease;
  z-index: -1;
}
.btn-projetos-item:hover{
  color: var(--cor-6);
}
.btn-projetos-item:hover:before{
  width: 100%;
}
@media (max-width: 800px){
  .projetos-itens{
    grid-template-columns: 1fr;
  }
}