.bg-sobre{
    background: var(--cor-7);
    box-shadow:inset 0 80px var(--cor-6),inset 0 -80px var(--cor-6);
}
.sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.sobre img{
    border-radius: 10px;
    max-width: 750px;
}
.sobre-conteudo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.sobre-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    color: var(--cor-1);
}
@media(max-width:800px){
    .bg-sobre{
        box-shadow:inset 0 80px var(--cor-6);
    }
    .sobre{
        grid-template-columns: 1fr;
        align-items: center;
    }
    .sobre-conteudo h2{
        font-size: 1.875rem;
        transition: 2s;
    }
    .sobre img{
        border-radius: 5px;
    }
}