.container{
    max-width: 1260px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.logo{
    font: 500 1.125rem/1.2 'Inter', sans-serif;
    text-transform: uppercase;
}
.detalhe{
    color:#FBBF24;
    border-bottom: 1px solid currentColor;
}

.titulo{
    font: 300 3.75rem/1.2 'Inter', sans-serif;
    text-align: center;
    max-width: 28ch;
}
.subt-h3{
    font: 500 1.875rem/1.2 'Inter', sans-serif;
    text-transform: uppercase;
}
.subt-h3 span{
    color: var(--cor-s3);
}
.container-social-midia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-transform: uppercase;
    color: var(--cor-s3);
}
.social-midia {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
  }

@media(max-width:800px){
    .container{
        padding: 15px;
    }
}