.container{
    max-width: 1600px;
    padding:15px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.detalhe-ponto{
    position: relative;
}
.detalhe-ponto::after{
    content: '';
    position: absolute;
    bottom: 10px;
    margin-left: 4px;
    height: 7px;
    width: 7px;
    box-sizing: border-box;
    background-color: #FFBB00;
}
.detalhe-linha{
    position: relative;
}
.detalhe-linha::after{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    height: 3px;
    width: 60px;
    background-color: #FFBB00;
    box-sizing: border-box;
}
.detalhe-cor{
    color: #908C96;
}
.detalhe-link{
    position: relative;
    cursor: pointer;
}
.detalhe-link::after{
    content: '';
    box-sizing: border-box;
    width: 10px;
    height: 3px;
  
    background: var(--cor-8);
  
    top: 50%;
    left: -20px;
    position: absolute;
}
.detalhe-link:hover::after{
    background: var(--cor-8);
    width: 15px;
}
.redes-sociais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.box-redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-transform: uppercase;
}
@media (max-width: 800px) {
    .detalhe-ponto::after{
        bottom: 7px;
        height: 5px;
        width: 5px;
    }
    .detalhe-linha::after{
        top:30px;
        height: 2px;
        width: 30px;
    }
}