:root{
    --cor-p1:#FFFFFF;
    --cor-p2:#0D0D0D;

    --bg-global:#FAFAF9;
    --cor-s1:#F0EBE3;
    --cor-s2:#C9C5BE;
    --cor-s3:#737373;
}
/* Cores Primarias do Projeto */
.cor-p1{
    color: var(--cor-p1);
}
.cor-p2{
    color: var(--cor-p2);
}

/* Cores Secundarias do Projeto */
.bg-global{
    background-color: var(--bg-global);
}
.cor-s1{
    color: var(--cor-s1);
}
.cor-s2{
    color: var(--cor-s2);
}
.cor-s3{
    color: var(--cor-s3);
}