.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding:5px 8px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--cor-1);
}
.insta:hover{
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
.linkedin:hover{
  background: #0076AF;
}
.github:hover{
  color: var(--cor-6);
  background: var(--cor-1);
}
.gmail:hover{
  color: #EB4739;
  background: var(--cor-1);
}