.font-1-xxs{
  font: 400 0.875rem / 1.2 'Roboto Slab', serif; /* Textos carroussel */
}
.font-1-xs{
    font: 400 1rem / 1.2 'Roboto Slab', serif; /* Textos */
}
.font-1-s{
  font: 500 1.2rem / 1.2 'Roboto Slab', serif; /* Textos em destaque */
}
.font-1-m{
  font: 400 1.5rem / 1.2 'Roboto Slab', serif; /* Texto paragrafo destaque */
}
.titulo-item{
  text-transform: capitalize;
  font: 500 2rem / 1.2 'Roboto Slab', serif; /* H4 itens */
}
.subt-section{
  text-transform: capitalize;
  font: 500 2.75rem / 1.2 'Roboto Slab', serif; /* h3 itens*/
}
.titulo-section{
  text-transform: capitalize;
  max-width: 10ch;
  font: 500 3.7rem / 1.1 'Roboto Slab', serif; /* h2 section */
}
.titulo-page{
  font: 500 4.75rem/1'Roboto Slab', serif; /* h1 principal */
}
.links{
  font: 500 1rem / 1.2 'Roboto Slab', serif;
}
@media(max-width:1200px){
  .titulo-page{
    font-size: 3.75rem;
  }
} 
@media (max-width: 800px) {
  .titulo-page{
    font-size: 2.6rem;
  }
  .titulo-section{
    font-size: 2.2rem;
  }
  .subt-section{
    font-size: 1.9rem;
  }
  .titulo-item{
    font-size: 1.5rem;
  }
}